/* Globals*/
body::-webkit-scrollbar {
    width: 1.3vh;
}

body::-webkit-scrollbar-thumb {
    background-color: #316498;
    border-radius: 20px;
    border: 3px solid rgb(22 22 22);
}
body::-webkit-scrollbar-track {
    background: rgb(23 22 22);
}
.contenedor{max-width: 80%;margin: 0 auto;}
.separador{margin-top: 4.7rem;}
.text-center{text-align: center; width: 100%;}
.position{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
a{text-decoration: none;}
p{color: #ececec;}
body{background-color:#181a1b; color:#e4e3e3}
/* Header */
.headColor{background-color: #000000;}
header{
    height: 100vh;
    background: linear-gradient(
    180deg, rgb(111 124 130 / 9%), rgb(24 26 27)), url(../img/N9-Echoes.JPG);
    /* display: flex; */
    /* align-items: center; */
    background-size: cover;
    background-position: center;
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
}
h1.coolfontheader{
    font-size: 15vh;
    /* background-image: url(../img/N8-Sunset.JPG); */
    /* background-position: center; */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
    /* background-size: cover; */
    /* text-align: center; */
    color: white;
    letter-spacing: 1.5rem;
    font-family: serif;
}
h2.coolfontheader{
    /* font-size: 15vh; */
    font-size: 3rem;
    /* background-image: url(../img/SomeARTSCuadres2.jpg); */
    /* background-position: top; */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
    /* background-size: cover; */
    color: white;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1rem;
    font-family: sans-serif;
}
.card{
    flex-direction: row;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-form{
    max-width: 100%;
    width: 100%;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.375);
}
h1.coolfontheader:hover{
    font-size: 15vh;
    color: #ffffff80;
    -webkit-background-clip: text;
    /* letter-spacing: 1rem; */
}
.musirech a h1{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
.musirech a :hover{
    background: linear-gradient(90deg, rgb(0, 217, 255),rgb(85, 6, 92));
    -webkit-background-clip: text;
    color: transparent;
}
/* Acaba header */
/* Otra sec */
/*FOOTER*/
footer{
    background-color: #00000070;
}
.fot{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.center{display: flex; justify-content: center; align-items: center;}
.vpy{max-width:5rem; width:2rem;}
/* ITEMS - CATALOGO */
.item-a{
    grid-column: 1;
    grid-row: 1;
}
.item-b{
    grid-column: 2/4;
    grid-row: 1;
}

.item-c{
    grid-column: 1;
    grid-row: 2;
}
.item-d{
    grid-column: 2;
    grid-row: 2;
}
.item-e{
    grid-column: 3;
    grid-row: 3;
}