/* Globals*/
::-webkit-scrollbar{
    width: 1.5vh;
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
    width: 1vh;
    border-radius: 1rem;
    background-color: #5c5238c9;
}
.contenedor{max-width: 80%;margin: 0 auto;}
.separador{margin-top: 4.7rem;}
.text-center{text-align: center; width: 100%;}
.position{
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
p{color: #ececec;}
body{background-color:#181a1b; color:#e4e3e3}
/* Header */
.headColor{background-color: #000000;}
header{
    height: 100vh;
    background: linear-gradient(
    180deg, rgb(111 124 130 / 9%), rgb(24 26 27)), url(../img/popocateptlC.jpg);
    display: flex;
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h1.coolfontheader{
    font-size: 15vh;
    /* background-image: url(../img/N8-Sunset.JPG); */
    /* background-position: center; */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
    /* background-size: cover; */
    /* text-align: center; */
    color: white;
    letter-spacing: 1.5rem;
    font-family: serif;
}
h2.coolfontheader{
    /* font-size: 15vh; */
    font-size: 3rem;
    /* background-image: url(../img/SomeARTSCuadres2.jpg); */
    /* background-position: top; */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
    /* background-size: cover; */
    color: white;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1rem;
    font-family: sans-serif;
}
.card{
    flex-direction: row;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
h1.coolfontheader:hover{
    font-size: 15vh;
    color: #ffffff80;
    -webkit-background-clip: text;
    letter-spacing: 1rem;
}
.musirech a h1{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgb(85, 6, 92),rgb(0, 217, 255));
    -webkit-background-clip: text;
    color: transparent;
}
.musirech a :hover{
    background: linear-gradient(90deg, rgb(0, 217, 255),rgb(85, 6, 92));
    -webkit-background-clip: text;
    color: transparent;
}
/* Acaba header */
/* Otra sec */
.mot{line-height: 3;}
.iconm{width: 7.5rem;}
.White2{
    background: linear-gradient(90deg, rgba(30, 30, 66, 0.952), rgba(87, 50, 20, 0.973));
    -webkit-background-clip: text;
    color: transparent;
    font-family: sans-serif;}
.letext {line-height: 1.4; font-size: 1.2rem;}

/* MAIN */
.coloretion{
    background: linear-gradient(90deg, rgba(30, 30, 66, 0.952), rgba(87, 50, 20, 0.973));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-dsdfheight: 33.33vh;
    min-height: 30vh;
    border-radius: 0.9rem;
    margin-top: 6%;
}
.MaincoloretionMadera{
    background: linear-gradient(90deg, #524219c7, rgb(22 22 22));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 33.33vh;
    margin-top: 6%;
}

a.columnas-6.MaincoloretionMadera.center:hover {
    background: linear-gradient( 
163deg, #524219c7, rgb(22 22 22));
    /* background-size: cover; */
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    min-height: 33.33 vh;
    margin-top: 6%;
    transition-delay: 1s;
    transition-duration: 1s;
}

.MaincoloretionMadera:hover{
    background: linear-gradient(180deg, #524219c7, rgb(22 22 22));
    background-size: cover;
    transition-duration: 0.5s;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 33.33vh;
    margin-top: 6%;
}
.MaincoloretionMetal{
    background: linear-gradient(90deg, rgb(23 22 22), rgb(181 181 181 /44%));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 33.33vh;
    margin-top: 6%;
}

.grid a, a.columnas.coloretion.center{
    color: white;
    font-size: 150%;
    font-weight: 700;
}


/*FOOTER*/
footer{
    background-color: #00000070;
}
.fot{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.center{display: flex; justify-content: center; align-items: center;}
.vpy{
    width: 1.5rem;
}
.repro{ background-color: #04040f9d;}
.imglist{width: 12.5vh; margin-bottom: 1rem;}
a{text-decoration:none;}
.btndis{ 
padding: 1rem 2.5rem; 
background-color:rgba(255, 0, 0, 0.089);
font-size: 1.25rem;
transition: background-color .5s;
color:white;}
.btndis:hover{
background-color: #a00000a6;
}
.btndis2{ 
    padding: 1rem 2.5rem; 
    background-color:rgba(0, 0, 0, 0.822);
    font-size: 1.25rem;
    transition: background-color .5s;
    color: white;
}
.btndis2:hover{
    background-color: #fafafa;
    color: black;
}

/* OTHER PAGES CATALOG */
.carousel-inner{
    height: 100vh;
}
.FACK{
    margin-top: 35%;
    position: fixed;
    right: 15%;
    /* bottom: 1.25rem; */
    left: 15%;
    /* padding-top: 1.25rem; */
    /* padding-bottom: 1.25rem; */
    color: #fff;
    text-align: center;
}